body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: monospace;
}
#title {
    color: black;
}
.container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
}

a {
    text-decoration: none;
    text-align: center;
}

a:active {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
  color: skyblue;
}

.item0 {
    grid-column: 1/4;
    grid-row: 1;
    background-color: white;
    padding: 0 0 0 20px;
    text-align: center;
    
    
}

.item1 {
    grid-column: 1/4;
    grid-row: 2;
    background-color: white;
    padding: 0 0 0 40px;
}

.item2 {
    grid-column: 1/4;
    grid-row: 3;
    background-color: white;
    padding: 0 0 0 40px;
}

.item3 {
    grid-column: 1/4;
    grid-row: 4;
    background-color: white;
    padding: 0 0 0 40px;
}

.item4 {
    grid-column: 1/4;
    grid-row: 5;
    background-color: white;
    padding: 0 0 0 40px;
}
